<!DOCTYPE html>
<html>
<head>
    <title>Smart Attendance</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h2>Smart Classroom Attendance</h2>

<div id="sensor">
    <p>Temperature: <span id="temp">--</span> °C</p>
    <p>Light: <span id="light">--</span></p>
</div>

<table>
<tr>
    <th>Name</th>
    <th>USN</th>
    <th>Time</th>
    <th>Method</th>
    <th>Status</th>
</tr>
{% for r in attendance %}
<tr>
    <td>{{r[0]}}</td>
    <td>{{r[1]}}</td>
    <td>{{r[2]}}</td>
    <td>{{r[3]}}</td>
    <td>{{r[4]}}</td>
</tr>
{% endfor %}
</table>

<script src="/static/js/script.js"></script>
</body>
</html>
